.header {
  color: $main-text-color-white;
  background-color: $background-color-dark;
  border-radius: 0 0 30px 30px;
  margin-inline: auto;
  box-sizing: border-box;
  overflow: hidden;

  transition: all 0.3s;

  &__content {
    position: relative;
    display: flex;
    flex-direction: column;
    box-sizing: border-box;

    @include on-small-desktop {
      min-height: $header-desktop-height;
    }
  }

  &__bottom {
    display: flex;
    width: 100%;
    flex-direction: column;

    @include on-small-desktop {
      flex-direction: row;
    }
  }
}
